@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    margin: 0 auto;
}

/* 
header, container {
    width: 1200px;
}
header {
    margin: 50px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration-line: none;
}

.logo {
    color: #204AB6;
    font-weight: bold;
    float: left;
}

.searchBox {
    display: inline-block;
    position: relative;
    width: 400px;
    margin-left: 20px;
}

.searchBox input {
    width: 100%;
    border: 2px solid #204AB6;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}
.searchBox input:focus {
    outline: none;
}
 */
 
container {
    background-color: #F7F7F7;
    display: flex;
    margin: 40px auto;
    gap: 50px;
    justify-content: center;
}


/* 
container {
    width: 1200px;
    margin: 0;
    background-color: white;
}
 */
/* 
.sideNavWrap {
    float: left;
    width: 300px;
    background-color: white;
    text-align: center;
    padding: 10px 0;
    border: 1px solid gray;

}

.sideNavWrap button {
    width: 280px;
    height: 50px;
    background-color: #204AB6;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    box-shadow: 0 2px 3px 0 gray;
}

.sideNavWrap button:hover {
    background-color: #092d86;
}
 */

.contentWrap {
	background-color: white;
    width: 850px;
    padding: 20px;
    display: grid;
	grid-template-rows: auto;
}
 */
.top {
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
	
}

.date {
	color: gray;
	margin-bottom: 10px;
}

hr {
	height: 1px;
	background: #c0c0c0;
	margin: 20px 0;
}

.post {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.commentBox {
	display: flex;
	text-align: center;
}

.commentBox input {
	width: 700px;
	height: 50px;
	border: 2px solid #204AB6;
	padding: 0 10px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.commentBox input:focus {
	outline: none;
}
.commentBox button {
	width: 100px;
	height: 52px;
	background-color: #092d86;
	color: white;
}

.warning {
    background-color: antiquewhite;
    padding: 20px 25px;
    margin-bottom: 50px;
}

.warning ul {
    list-style-position: inside;
    padding-left: 0;
}

.warning li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.commentWrap {
	padding: 10px;
	width: 100%
}

.total-comment {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.total-comment span {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #1f6bb1;
}

.comment P:nth-child(1) {
	font-weight: bold;
	margin-bottom: 10px;
}
.comment P:nth-child(2) {
	margin-bottom: 10px;
}
.comment span {
	color: gray;
	margin-bottom: 10px;
}

.commentWrap .page {
    text-align: center;
}