body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.container {
    background-color: #F7F7F7;
    display: flex;
    margin-top: 40px;
    margin-right: 20px;
}

.list-title {
    font-size: 15px;
    margin-left: 20px;
}

main {
    background-color: white;

}

.content {
    flex-grow: 1;
    padding: 20px;
}

.post {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid #888888;
}


.tags {
    margin-bottom: 10px;
    font-size: 15px;
}
.tags a {
    text-decoration: none;
    color: black;
}

.title {
    margin-bottom: 20px;
}

.title a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}



.post-content {
    color: #848484;
    font-size: 15px;
    margin-bottom: 20px;
}

.info {
    font-size: 13px;
    color: #888;
}

/* 페이지 번호 네비게이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    list-style: none;
    padding-left: 0;
}

.pagination a {
    margin: 0 3px;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #888;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .current {
    margin: 0 3px;
    padding: 4px 8px;
    color: #007bff;
    font-size: 18px;
    font-weight: bold;
}
