
.sidebar {
    margin-left: 60px;
    margin-top: 50px;
    margin-right: 20px;
    width: 200px;
    height: 800px;
    background-color: white;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
}

.sidebar-container {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



.writeBtn {
    padding: 10px;
    width: 100%;
    border-radius: 12px;
    background-color: #204AB6;

    color: white;
    font-size: 20px;
}
.profile {
    padding: 30px 20px;
    margin-top: 20px;
    font-size: 14px;
    color: #888;
    background-color: #F0F0F0;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.profile-image img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile-info div {
    margin-bottom: 10px;
}

.best-post {
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.best-post a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin-bottom: 5px;
    margin-left: 5px;
}
